*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top-menu{
    background-color: #f8d00f;
}

.container{
    text-align: center;
    color: white;
    background-image: url("/imagens/sorvete-fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
}

#button-pink{
    background-color: pink;
    margin-top: 30px;   
    padding: 10px;
}

#button-nossosProdutos{
    padding: 10px;
}

h4{
    margin-bottom: 15px;
}

#button-produtos{
    padding: 15px;
    background-color: black;
    color: yellow;
    
}

#text-bot{
    margin-top: 15px;
}
